# Seguridad / Admin
ADMIN_USER=admin
ADMIN_DEFAULT_PASS=cambia-esta-clave-super-segura

# Base de datos
DB_HOST=localhost
DB_NAME=tu_base_de_datos
DB_USER=tu_usuario_db
DB_PASS=tu_password_db

# Cloudflare Turnstile
CF_TURNSTILE_SECRET=tu_turnstile_secret

# Correo
MAIL_TO=contacto@tu-dominio.com
MAIL_FROM=no-reply@tu-dominio.com
MAIL_NAME=Tu Empresa
SMTP_HOST=smtp.tu-proveedor.com
SMTP_PORT=465
SMTP_USER=no-reply@tu-dominio.com
SMTP_PASS=tu_password_smtp
